#header {
  background-color: black;
  padding: 10px 10px 0px 10px;
}
.headerLinks {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
