#header {
  padding: 10px 10px 0px 10px;
}
.headerLinks {
  background-color: black;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  font-size: 200%;
  padding: 0px 0px 0px 15px;
}